# .gitignore
node_modules
.env
.venv
ai/data

#Important files for mobile side development

# D:\NHITM\BE\BE Major Project\code\mobile\cortexa\frontend\vercel.json
# D:\NHITM\BE\BE Major Project\code\mobile\cortexa\frontend\package.json
# D:\NHITM\BE\BE Major Project\code\mobile\cortexa\frontend\src\services\api.js
# D:\NHITM\BE\BE Major Project\code\mobile\cortexa\frontend\src\services\aiService.js
# D:\NHITM\BE\BE Major Project\code\mobile\cortexa\frontend\src\socket.js
# D:\NHITM\BE\BE Major Project\code\mobile\cortexa\frontend\src\context
# D:\NHITM\BE\BE Major Project\code\mobile\cortexa\frontend\src\config\api.js