# Core dependencies
torch>=2.0.0
transformers>=4.30.0
sentence-transformers>=2.2.2
chromadb>=0.4.0
langchain>=0.1.0
pydantic>=2.0.0
fastapi>=0.100.0
uvicorn>=0.23.0
python-multipart>=0.0.6
gunicorn
pymongo==4.6.1
huggingface_hub>=0.20.0

# Document processing
PyPDF2>=3.0.0
pymupdf>=1.23.0
python-docx>=0.8.11
pdfplumber>=0.10.0

# Utilities
numpy<2
pandas>=2.0.0
tqdm>=4.65.0
python-dotenv>=1.0.0

# Optional but recommended
accelerate>=0.20.0
 # bitsandbytes>=0.41.0  # For 8-bit quantization

# For AI Assistant
duckduckgo-search>=4.0.0
requests>=2.31.0
beautifulsoup4>=4.12.0

# For Voice-to-Text
openai-whisper>=20231117

# Using chocolatey
# choco install ffmpeg