@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, bumblebee;
}

/* Hide scrollbar for horizontal menu */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Fix white background on overscroll */
html, body {
  height: 100%;
  margin: 0;
  background-color: #080808; /* Dark theme background */
}

#root {
  min-height: 100vh;
}